.link{
    width: 100%;
    height: 40px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link.active{
    background-color: #f2f4f7;
    border-radius: .4rem;
}